<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>created-at-base-version</key>
	<integer>468</integer>
	<key>id</key>
	<string>2A3BEB5A-DA8C-41CE-8898-6EA9A7149B95</string>
	<key>name</key>
	<string>Color</string>
	<key>options</key>
	<integer>2</integer>
	<key>properties</key>
	<array>
		<dict>
			<key>key</key>
			<string>ColorDataKey</string>
			<key>value</key>
			<data>
			WzEseyJjIjpbMSwwLjY0NzA1ODgyMzUsMCwxXSwiY3NyIjowLCJt
			IjoyLCJjdHgiOlsxLHsiY3MiOlsxLHsibWFwIjp7IjAiOlsxLHsi
			aWNjIjoiQUFBTVNFeHBibThDRUFBQWJXNTBjbEpIUWlCWVdWb2dC
			ODRBQWdBSkFBWUFNUUFBWVdOemNFMVRSbFFBQUFBQVNVVkRJSE5T
			UjBJQUFBQUFBQUFBQUFBQUFBQUFBUGJXQUFFQUFBQUEweTFJVUNB
			Z0FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQVJZM0J5ZEFBQUFWQUFB
			QUF6WkdWell3QUFBWVFBQUFCc2QzUndkQUFBQWZBQUFBQVVZbXR3
			ZEFBQUFnUUFBQUFVY2xoWldnQUFBaGdBQUFBVVoxaFpXZ0FBQWl3
			QUFBQVVZbGhaV2dBQUFrQUFBQUFVWkcxdVpBQUFBbFFBQUFCd1pH
			MWtaQUFBQXNRQUFBQ0lkblZsWkFBQUEwd0FBQUNHZG1sbGR3QUFB
			OVFBQUFBa2JIVnRhUUFBQVwvZ0FBQUFVYldWaGN3QUFCQXdBQUFB
			a2RHVmphQUFBQkRBQUFBQU1jbFJTUXdBQUJEd0FBQWdNWjFSU1F3
			QUFCRHdBQUFnTVlsUlNRd0FBQkR3QUFBZ01kR1Y0ZEFBQUFBQkRi
			M0I1Y21sbmFIUWdLR01wSURFNU9UZ2dTR1YzYkdWMGRDMVFZV05y
			WVhKa0lFTnZiWEJoYm5rQUFHUmxjMk1BQUFBQUFBQUFFbk5TUjBJ
			Z1NVVkROakU1TmpZdE1pNHhBQUFBQUFBQUFBQUFBQUFTYzFKSFFp
			QkpSVU0yTVRrMk5pMHlMakVBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFGaFpXaUFBQUFBQUFBRHpVUUFCQUFBQUFSYk1XRmxhSUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUJZV1ZvZ0FBQUFBQUFBYjZJQUFE
			ajFBQUFEa0ZoWldpQUFBQUFBQUFCaW1RQUF0NFVBQUJqYVdGbGFJ
			QUFBQUFBQUFDU2dBQUFQaEFBQXRzOWtaWE5qQUFBQUFBQUFBQlpK
			UlVNZ2FIUjBjRG92TDNkM2R5NXBaV011WTJnQUFBQUFBQUFBQUFB
			QUFCWkpSVU1nYUhSMGNEb3ZMM2QzZHk1cFpXTXVZMmdBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBWkdWell3QUFBQUFBQUFBdVNVVkRJRFl4
			T1RZMkxUSXVNU0JFWldaaGRXeDBJRkpIUWlCamIyeHZkWElnYzNC
			aFkyVWdMU0J6VWtkQ0FBQUFBQUFBQUFBQUFBQXVTVVZESURZeE9U
			WTJMVEl1TVNCRVpXWmhkV3gwSUZKSFFpQmpiMnh2ZFhJZ2MzQmhZ
			MlVnTFNCelVrZENBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUdSbGMyTUFBQUFBQUFBQUxGSmxabVZ5Wlc1alpTQldhV1YzYVc1
			bklFTnZibVJwZEdsdmJpQnBiaUJKUlVNMk1UazJOaTB5TGpFQUFB
			QUFBQUFBQUFBQUFDeFNaV1psY21WdVkyVWdWbWxsZDJsdVp5QkRi
			MjVrYVhScGIyNGdhVzRnU1VWRE5qRTVOall0TWk0eEFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFCMmFXVjNBQUFBQUFB
			VHBQNEFGRjh1QUJEUEZBQUQ3Y3dBQkJNTEFBTmNuZ0FBQUFGWVdW
			b2dBQUFBQUFCTUNWWUFVQUFBQUZjZjUyMWxZWE1BQUFBQUFBQUFB
			UUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUtQQUFBQUFuTnBaeUFB
			QUFBQVExSlVJR04xY25ZQUFBQUFBQUFFQUFBQUFBVUFDZ0FQQUJR
			QUdRQWVBQ01BS0FBdEFESUFOd0E3QUVBQVJRQktBRThBVkFCWkFG
			NEFZd0JvQUcwQWNnQjNBSHdBZ1FDR0FJc0FrQUNWQUpvQW53Q2tB
			S2tBcmdDeUFMY0F2QURCQU1ZQXl3RFFBTlVBMndEZ0FPVUE2d0R3
			QVBZQSt3RUJBUWNCRFFFVEFSa0JId0VsQVNzQk1nRTRBVDRCUlFG
			TUFWSUJXUUZnQVdjQmJnRjFBWHdCZ3dHTEFaSUJtZ0doQWFrQnNR
			RzVBY0VCeVFIUkFka0I0UUhwQWZJQitnSURBZ3dDRkFJZEFpWUNM
			d0k0QWtFQ1N3SlVBbDBDWndKeEFub0NoQUtPQXBnQ29nS3NBcllD
			d1FMTEF0VUM0QUxyQXZVREFBTUxBeFlESVFNdEF6Z0RRd05QQTFv
			RFpnTnlBMzREaWdPV0E2SURyZ082QThjRDB3UGdBK3dEK1FRR0JC
			TUVJQVF0QkRzRVNBUlZCR01FY1FSK0JJd0VtZ1NvQkxZRXhBVFRC
			T0VFOEFUK0JRMEZIQVVyQlRvRlNRVllCV2NGZHdXR0JaWUZwZ1cx
			QmNVRjFRWGxCZllHQmdZV0JpY0dOd1pJQmxrR2FnWjdCb3dHblFh
			dkJzQUcwUWJqQnZVSEJ3Y1pCeXNIUFFkUEIyRUhkQWVHQjVrSHJB
			ZVwvQjlJSDVRZjRDQXNJSHdneUNFWUlXZ2h1Q0lJSWxnaXFDTDRJ
			MGdqbkNQc0pFQWtsQ1RvSlR3bGtDWGtKandta0Nib0p6d25sQ2Zz
			S0VRb25DajBLVkFwcUNvRUttQXF1Q3NVSzNBcnpDd3NMSWdzNUMx
			RUxhUXVBQzVnTHNBdklDK0VMK1F3U0RDb01Rd3hjREhVTWpneW5E
			TUFNMlF6ekRRME5KZzFBRFZvTmRBMk9EYWtOd3czZURmZ09FdzR1
			RGtrT1pBNVwvRHBzT3RnN1NEdTRQQ1E4bEQwRVBYZzk2RDVZUHN3
			XC9QRCt3UUNSQW1FRU1RWVJCK0VKc1F1UkRYRVBVUkV4RXhFVThS
			YlJHTUVhb1J5UkhvRWdjU0poSkZFbVFTaEJLakVzTVM0eE1ERXlN
			VFF4TmpFNE1UcEJQRkUrVVVCaFFuRkVrVWFoU0xGSzBVemhUd0ZS
			SVZOQlZXRlhnVm14VzlGZUFXQXhZbUZra1diQmFQRnJJVzFoYjZG
			eDBYUVJkbEY0a1hyaGZTRlwvY1lHeGhBR0dVWWloaXZHTlVZK2hr
			Z0dVVVpheG1SR2JjWjNSb0VHaW9hVVJwM0dwNGF4UnJzR3hRYk94
			dGpHNG9ic2h2YUhBSWNLaHhTSEhzY294ek1IUFVkSGgxSEhYQWRt
			UjNESGV3ZUZoNUFIbW9lbEI2K0h1a2ZFeDgrSDJrZmxCK1wvSCtv
			Z0ZTQkJJR3dnbUNERUlQQWhIQ0ZJSVhVaG9TSE9JZnNpSnlKVklv
			SWlyeUxkSXdvak9DTm1JNVFqd2lQd0pCOGtUU1I4SktzazJpVUpK
			VGdsYUNXWEpjY2w5eVluSmxjbWh5YTNKdWduR0NkSkozb25xeWZj
			S0Ewb1B5aHhLS0lvMUNrR0tUZ3BheW1kS2RBcUFpbzFLbWdxbXly
			UEt3SXJOaXRwSzUwcjBTd0ZMRGtzYml5aUxOY3REQzFCTFhZdHF5
			M2hMaFl1VEM2Q0xyY3U3aThrTDFvdmtTXC9ITFwvNHdOVEJzTUtR
			dzJ6RVNNVW94Z2pHNk1mSXlLakpqTXBzeTFETU5NMFl6ZnpPNE1c
			L0UwS3pSbE5KNDAyRFVUTlUwMWh6WENOZjAyTnpaeU5xNDI2VGNr
			TjJBM25EZlhPQlE0VURpTU9NZzVCVGxDT1g4NXZEbjVPalk2ZERx
			eU91ODdMVHRyTzZvNzZEd25QR1U4cER6alBTSTlZVDJoUGVBK0lE
			NWdQcUErNEQ4aFAyRVwvb2pcL2lRQ05BWkVDbVFPZEJLVUZxUWF4
			QjdrSXdRbkpDdFVMM1F6cERmVVBBUkFORVIwU0tSTTVGRWtWVlJa
			cEYza1lpUm1kR3EwYndSelZIZTBmQVNBVklTMGlSU05kSkhVbGpT
			YWxKOEVvM1NuMUt4RXNNUzFOTG1rdmlUQ3BNY2t5NlRRSk5TazJU
			VGR4T0pVNXVUcmRQQUU5SlQ1TlAzVkFuVUhGUXUxRUdVVkJSbTFI
			bVVqRlNmRkxIVXhOVFgxT3FVXC9aVVFsU1BWTnRWS0ZWMVZjSldE
			MVpjVnFsVzkxZEVWNUpYNEZndldIMVl5MWthV1dsWnVGb0hXbFph
			cGxyMVcwVmJsVnZsWERWY2hseldYU2RkZUYzSlhocGViRjY5WHc5
			ZllWK3pZQVZnVjJDcVlQeGhUMkdpWWZWaVNXS2NZdkJqUTJPWFkr
			dGtRR1NVWk9sbFBXV1NaZWRtUFdhU1p1aG5QV2VUWitsb1AyaVdh
			T3hwUTJtYWFmRnFTR3FmYXZkclQydW5hXC85c1YyeXZiUWh0WUcy
			NWJoSnVhMjdFYng1dmVHXC9SY0N0d2huRGdjVHB4bFhId2NrdHlw
			bk1CYzExenVIUVVkSEIwekhVb2RZVjE0WFkrZHB0MitIZFdkN040
			RVhodWVNeDVLbm1KZWVkNlJucWxld1I3WTN2Q2ZDRjhnWHpoZlVG
			OW9YNEJmbUord244amY0UlwvNVlCSGdLaUJDb0ZyZ2MyQ01JS1Nn
			dlNEVjRPNmhCMkVnSVRqaFVlRnE0WU9obktHMTRjN2g1K0lCSWhw
			aU02Sk00bVppZjZLWklyS2l6Q0xsb3Y4akdPTXlvMHhqWmlOXC80
			NW1qczZQTm8rZWtBYVFicERXa1QrUnFKSVJrbnFTNDVOTms3YVVJ
			SlNLbFBTVlg1WEpsalNXbjVjS2wzV1g0SmhNbUxpWkpKbVFtZnlh
			YUpyVm0wS2JyNXdjbkltYzk1MWtuZEtlUUo2dW54MmZpNVwvNm9H
			bWcyS0ZIb2JhaUpxS1dvd2FqZHFQbXBGYWt4NlU0cGFtbUdxYUxw
			djJuYnFmZ3FGS294S2szcWFtcUhLcVBxd0tyZGF2cHJGeXMwSzFF
			cmJpdUxhNmhyeGF2aTdBQXNIV3c2ckZnc2RheVM3TENzeml6cnJR
			bHRKeTFFN1dLdGdHMmViYnd0MmkzNExoWnVORzVTcm5DdWp1NnRi
			c3V1NmU4SWJ5YnZSVzlqNzRLdm9TK1wvNzk2dlwvWEFjTURzd1dm
			QjQ4SmZ3dHZEV01QVXhGSEV6c1ZMeGNqR1JzYkR4MEhIdjhnOXlM
			ekpPc201eWpqS3Q4czJ5N2JNTmN5MXpUWE50YzQyenJiUE44KzQw
			RG5RdXRFODBiN1NQOUxCMDBUVHh0UkoxTXZWVHRYUjFsWFcyTmRj
			MStEWVpOam8yV3paOGRwMjJ2dmJnTndGM0lyZEVOMlczaHplb3Q4
			cDM2XC9nTnVDOTRVVGh6T0pUNHR2alkrUHI1SFBrXC9PV0U1ZzNt
			bHVjZjU2bm9NdWk4NlVicDBPcGI2dVhyY092NzdJYnRFZTJjN2lq
			dXRPOUE3OHp3V1BEbDhYTHhcL1wvS004eG56cFwvUTA5TUwxVVBY
			ZTltMzIrXC9lSytCbjRxUGs0K2NmNlZcL3JuKzNmOEJcL3lZXC9T
			bjl1djVMXC90elwvYmZcL1wvIiwibSI6MiwiayI6MH1dfX1dfV19
			XQ==
			</data>
		</dict>
	</array>
</dict>
</plist>
