<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>created-at-base-version</key>
	<integer>468</integer>
	<key>id</key>
	<string>6E583F89-0968-4632-87D8-1FB6DA2DC4B2</string>
	<key>name</key>
	<string>Color</string>
	<key>options</key>
	<integer>2</integer>
	<key>properties</key>
	<array>
		<dict>
			<key>key</key>
			<string>ColorDataKey</string>
			<key>value</key>
			<data>
			WzEseyJjIjpbMSwxLDEsMV0sImN0eCI6WzEseyJjcyI6WzEseyJt
			YXAiOnt9fV19XSwibSI6Mn1d
			</data>
		</dict>
	</array>
</dict>
</plist>
