<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>created-at-base-version</key>
	<integer>468</integer>
	<key>id</key>
	<string>A77D89A6-DC10-4AB3-89A5-42EBE72EF35D</string>
	<key>name</key>
	<string>Color</string>
	<key>options</key>
	<integer>2</integer>
	<key>properties</key>
	<array>
		<dict>
			<key>key</key>
			<string>ColorDataKey</string>
			<key>value</key>
			<data>
			WzEseyJtIjoyLCJjIjpbMCwwLDEsMV0sImN0eCI6WzEseyJjcyI6
			WzEseyJtYXAiOnt9fV19XX1d
			</data>
		</dict>
	</array>
</dict>
</plist>
